.row
  mixin box-basic-info(name, oid, description, value)
    .col-sm-6.col-md-4
      .thumbnail
        .caption
          h3.center #{name}
          h6.center #{oid}
          p #{description}
          h2
            strong #{value}
