.chart
	script(type='text/javascript' src='http://code.highcharts.com/stock/highstock.js')
	script(type='text/javascript' src='http://code.highcharts.com/stock/modules/exporting.js')
	#container(style="height: 400px; min-width: 900px")

	script(type='text/javascript').

		$(function () {
			var kbps = [];
			var icmp = [];
			var tcp  = [];
			var snmp = [];

			var seriesOptions = [],
				seriesCounter = 0,
				// create the chart when all data is loaded
				createChart = function () {

					$('#container').highcharts('StockChart', {

						rangeSelector: {
							selected: 4
						},

						yAxis: {
							labels: {
								formatter: function () {
									return (this.value > 0 ? ' + ' : '') + this.value + '%';
								}
							},
							plotLines: [{
								value: 0,
								width: 2,
								color: 'silver'
							}]
						},

						plotOptions: {
							series: {
								compare: 'percent'
							}
						},

						tooltip: {
							pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
							valueDecimals: 2
						},

						series: seriesOptions
					});
				};

		setInterval(function () {


				$.getJSON('/chart?ifNumber=1',    function (data) {
					var time = new Date();
					kbps.push([time.getTime(), data.kbps]);
					icmp.push([time.getTime(), data.icmp]);
					tcp.push([time.getTime(),  data.tcp ]);
					snmp.push([time.getTime(), data.snmp]);

					seriesOptions[0] = {
						name: "KBPS",
						data: kbps
					};
					seriesOptions[1] = {
						name: "ICMP",
						data: icmp
					};
					seriesOptions[2] = {
						name: "TCP",
						data: tcp
					};
					seriesOptions[3] = {
						name: "SNMP",
						data: snmp
					};

					createChart();
					
				});
			}, 1000);
		});