extends layout
block content
	nav
		ul.nav.nav-pills#tabs(data-tabs='tabs')
			li.active
				a(href='#info', data-toggle='tab') Dados gerais
			li
				a(href='#chart', data-toggle='tab') Gráficos
	article.tab-content
		.basic-info.tab-pane.active#info
			include partials/basic-info.jade

		.charts.tab-pane#chart
			include partials/chart.jade