extends layout

block content
	ul
	each metric in textMetrics
		li= metric.description + "-" + metric.value

script(type='text/javascript').
	console.log(textMetrics);
	console.log(varbinds);
	console.log(porco);
