doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/skin.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(type="text/javascript").
			$(document).ready(function(){

				$.get('/metrics', function(data){
					for(var i=1 ; i <= data.ifNumber.value; i++)
					{
						$('#iface').append('<option value='+i+'>interface '+i+'</option>');
					}
				});

				$('#interval').keyup(function(e)
				{
					if(/\D/g.test(this.value))
					{
						this.value = this.value.replace(/\D/g, '');
					}
				});
				$('#confirm').click(function(){
					$.ajax({
						url: '/create_session?ip='+$('#host').val()+'&community='+$("#community label.active").text(),
						type: 'GET',
						success: function(data){ 
							

							$("body").append('<div class="alert alert-success" role="alert">'+
								'<button class="close" data-dismiss="alert">'+
								'	<span aria-hidden="true">&times;</span>'+
								'</button>'+
								'<strong>Incrível, realmente funciona :)</strong>'+
							'</div>');
						},
						error: function(data) {
							

							$("body").append('<div class="alert alert-success" role="alert">'+
								'<button class="close" data-dismiss="alert">'+
								'	<span aria-hidden="true">&times;</span>'+
								'</button>'+
								'<strong>Vish,alguma coisa aconteceu, pergunte a Alpaca e a Ovelha</strong>'+
							'</div>');
						}
					});
				});
			});
		body
			header
				.box
					.field
						input#host(type='text', placeholder='type agent ip...')

					.field
						input#interval(type='text', placeholder='interval', value='1500', lastInterval='1500')

					.field
						.btn-group.btn-toggle#community(data-toggle='buttons')
							label.btn.btn-primary.active
								input(type='radio', name='options', value='public')
								| public
							label.btn.btn-primary.btn-default
								input(type='radio', name='options', value='private')
								| private

					.field.last
						button#confirm.btn-default(type='button') ok

			section
				block content
			footer
				include footer.jade	